extends layout

block content
    
    br
    button
      bra(href="") Nuevo 

    h4 Listado de Articulos
    
    

    ul 
    each articulo in articulos
      li
         = articulo.nombre 
         
         
