doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
  body
  
    nav.navbar.navbar-inverse(role="navigation")
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/")
                    |HOME
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    each item in navitems
                        li
                            a(href=item.link)
                                =item.content 
  
    
    div.col-md-1               
    div.col-md-10
      h1= title
      br
      block content
      br
      br
    div.col-md-1

    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js', async=true)
       
