extends layout

block content

    form.form(name='form', method='POST', action='/articulos')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Nombre
               div.col-xs-10
                  input.form-control(type='text', name='nombre')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Codigo de Barras
               div.col-xs-10
                  input.form-control(type='text', maxLength='12', name='codigoBarra')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Modelo
               div.col-xs-10
                  input.form-control(type='text', name='modelo', style='text-transform:uppercase')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Costo
               div.col-xs-10
                  input.form-control(type='number', name='costoUnitario')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Costo Pedido
               div.col-xs-10
                  input.form-control(type='number', name='costoPedido')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Costo Mantenimiento
               div.col-xs-10
                  input.form-control(type='number', name='costoMantenimiento')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Unidades X Bulto
               div.col-xs-10
                  input.form-control(type='number', name='unidadesXbulto')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Stock
               div.col-xs-10
                  input.form-control(type='number', name='stock')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Demanda Diaria
               div.col-xs-10
                  input.form-control(type='number', name='demandaDiaria')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Produccion Diaria
               div.col-xs-10
                  input.form-control(type='number', name='produccionDiaria')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Periodo de Revición
               div.col-xs-10
                  input.form-control(type='number', name='periodoRevicion')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Plazo de Reposición
               div.col-xs-10
                  input.form-control(type='number', step='0.01', name='plazoRepocicion')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Desvicación Estantar
               div.col-xs-10
                  input.form-control(type='number', name='desviacionEstandar')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Servicio Deseado
               div.col-xs-10
                  input.form-control(type='number', name='servivioDeseado')
            br
            button.btn.btn-lg.btn-success.btn-sm(type='submit')  Agregar
            br
            br
